    


    <!-- Full Page Intro -->
    <div class="view" style="background-image: url('http://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
          <!--Grid row-->
          <div class="row mt-5">
            <!--Grid column-->
            <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
              <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Sign up right now! </h1>
              <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
              <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s"></h6>
             
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 col-xl-5 mb-4">
              <!--Form-->
              <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                <mdb-card-body>
                  <!--Header-->
                  <div class="text-center">
                    <h3 class="white-text">
                      <mdb-icon fas icon="user" class="white-text"></mdb-icon> Register:</h3>
                    <hr class="hr-light">
                  </div>
                  <!--Body-->
                  <div class="md-form">
                    <mdb-icon fas icon="user" class="prefix white-text active"></mdb-icon>
                    <input type="text" id="form1" class="text-white form-control" [(formControl)]="nom" name ="nom"   mdbInput>
                    <label for="form3" class="text-white">nom</label>
                  </div>
                  <div class="md-form">
                    <mdb-icon fas icon="user" class="prefix white-text active"></mdb-icon>
                    <input type="text" id="form3" class="text-white form-control" [(formControl)]="prenom" name ="prenom"  mdbInput>
                    <label for="form3" class="text-white">prenom</label>
                  </div>
                  <div class="md-form">
                    <mdb-icon fas icon="user" class="prefix white-text active"></mdb-icon>
                    <input type="text" id="form0" class="text-white form-control" [(formControl)]="username" name ="username"  mdbInput>
                    <label for="form0" class="text-white">Username</label>
                  </div>
                  
                  <div class="md-form">
                    <mdb-icon fas icon="lock" class="prefix text-white active"></mdb-icon>
                    <input type="password" id="form4" class="text-white form-control" [(formControl)]="password" name ="password" mdbInput>
                    <label for="form4" class="text-white">Your password</label>
                  </div>
                  <div class="text-center mt-4">
                    <button mdbBtn type="submit"  (click) = "onClickSubmit()" routerlink="signin" color="indigo" mdbWavesEffect>enregistrer</button>
                  <!--  <hr class="hr-light mb-3 mt-4">-->
                    
                  </div>
                </mdb-card-body>
              </mdb-card>
              <!--/.Form-->
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
  
  <!-- Main navigation -->
  
    
    
 
  