<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-light" mdbWavesEffect routerLink="../login"><strong>Test1</strong></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" *ngIf="! (logged())" mdbWavesEffect>
          <a class="nav-link" routerLink="login">Register <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" *ngIf="! (logged())" mdbWavesEffect>
          <a class="nav-link" routerLink="signin">Sign in </a>
        </li>
        <li class="nav-item waves-light" *ngIf="logged()" mdbWavesEffect>
          <a class="nav-link" routerLink="article">Article</a>
        </li>
        <li class="nav-item active waves-light" *ngIf=" logged()" mdbWavesEffect>
          <a class="nav-link" routerLink="login" (click)="loggout()">deconnecter </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
